<a href="https://colab.research.google.com/github/Mvrkery/Data-Science-Bootcamp-Projects/blob/main/NYCflights13_Analysis_With_dplyr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Load The Required Libraries
install.packages("nycflights13")
library(nycflights13)
library(dplyr)

# View The First Few Rows Of The Flights Dataset
glimpse(flights)
head(flights)

glimpse(airlines)
head(airlines)

# Total Number Of Flights
total_flights <- flights %>%
  nrow()
cat("Total number of flights:", total_flights, "\n")

# TOP 5 Popular Airlines For The First Quarter Of 2013
print("TOP 5 Popular Airlines in The First Quarter Of 2013")
q1_2013 <- flights %>%
  filter(year == 2013 & month >= 1 & month <= 3) %>%
  count(carrier) %>%
  arrange(-n)%>%
  head(5)%>%
  left_join(airlines, by = "carrier")
  View(q1_2013)

# Popular Airlines Of 2013
print("Popular Airlines Of 2013")
all_2013 <- flights %>%
  filter(year == 2013 & month >= 1 & month <= 12) %>%
  count(carrier) %>%
  arrange(-n)%>%
  head(5)%>%
  left_join(airlines, by = "carrier")
  View(all_2013)

# The Average Departure Delay
print("The Average Departure Delay")
average_delay_by_carrier <- flights %>%
  group_by(carrier) %>%
  summarize(avg_delay = mean(dep_delay, na.rm = TRUE))%>%
  arrange(desc(avg_delay))
 View(average_delay_by_carrier)

# Find the top 5 destinations with the most flights
print("Find the top 5 destinations with the most flights")
top_destinations <- flights %>%
  group_by(dest) %>%
  summarize(total_flights = n()) %>%
  arrange(desc(total_flights)) %>%
  head(5)
View(top_destinations)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)


Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

Rows: 336,776
Columns: 19
$ year           <int> 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2…
$ month          <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ day            <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ dep_time       <int> 517, 533, 542, 544, 554, 554, 555, 557, 557, 558, 558, …
$ sched_dep_time <int> 515, 529, 540, 545, 600, 558, 600, 600, 600, 600, 600, …
$ dep_delay      <dbl> 2, 4, 2, -1, -6, -4, -5, -3, -3, -2, -2, -2, -2, -2, -1…
$ arr_time       <int> 830, 850, 923, 1004, 812, 740, 913, 709, 838, 753, 849,…
$ sched_arr_time <int> 819, 830, 850, 1022, 837, 728, 854, 723, 846, 745, 851,…
$ arr_delay      <dbl> 11, 20, 33, -18, -25, 12, 19, -14, -8, 8, -2, -3, 7, -1…
$ carrier        <chr> "UA", "UA", "AA", "B6", "DL", "UA", "B6", "EV", "B6", "…
$ flight         <int> 1545, 1714, 1141, 725, 461, 1696, 507, 5708, 79, 301, 4…
$ tailnum        <chr> "N14228", "N24211", "N619AA", "N804JB", "N668DN", "N394…
$ origin         <chr> "EWR", "LGA", "JFK", "JFK", "LGA", "EWR", "EWR", "LGA",…
$ dest           <chr> "IAH", "IAH", "MIA", "BQN", "ATL", "ORD", "FLL", "IAD",…
$ air_time       <dbl> 227, 227, 160, 183, 116, 150, 158, 53, 140, 138, 149, 1…
$ distance       <dbl> 1400, 1416, 1089, 1576, 762, 719, 1065, 229, 944, 733, …
$ hour           <dbl> 5, 5, 5, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6…
$ minute         <dbl> 15, 29, 40, 45, 0, 58, 0, 0, 0, 0, 0, 0, 0, 0, 0, 59, 0…
$ time_hour      <dttm> 2013-01-01 05:00:00, 2013-01-01 05:00:00, 2013-01-01 0…

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00

Rows: 16
Columns: 2
$ carrier <chr> "9E", "AA", "AS", "B6", "DL", "EV", "F9", "FL", "HA", "MQ", "O…
$ name    <chr> "Endeavor Air Inc.", "American Airlines Inc.", "Alaska Airline…

  carrier name
1 9E      Endeavor Air Inc.
2 AA      American Airlines Inc.
3 AS      Alaska Airlines Inc.
4 B6      JetBlue Airways
5 DL      Delta Air Lines Inc.
6 EV      ExpressJet Airlines Inc.

Total number of flights: 336776
[1] "TOP 5 Popular Airlines in The First Quarter Of 2013"

  carrier n     name
1 UA      13954 United Air Lines Inc.
2 B6      13302 JetBlue Airways
3 EV      12724 ExpressJet Airlines Inc.
4 DL      11323 Delta Air Lines Inc.
5 AA       8098 American Airlines Inc.

[1] "Popular Airlines Of 2013"

  carrier n     name
1 UA      58665 United Air Lines Inc.
2 B6      54635 JetBlue Airways
3 EV      54173 ExpressJet Airlines Inc.
4 DL      48110 Delta Air Lines Inc.
5 AA      32729 American Airlines Inc.

[1] "The Average Departure Delay"

   carrier avg_delay
1  F9      20.215543
2  EV      19.955390
3  YV      18.996330
4  FL      18.726075
5  WN      17.711744
6  9E      16.725769
7  B6      13.022522
8  VX      12.869421
9  OO      12.586207
10 UA      12.106073
11 MQ      10.552041
12 DL       9.264505
13 AA       8.586016
14 AS       5.804775
15 HA       4.900585
16 US       3.782418

[1] "Find the top 5 destinations with the most flights"

  dest total_flights
1 ORD  17283
2 ATL  17215
3 LAX  16174
4 BOS  15508
5 MCO  14082